---
import Layout from '@/layouts/Layout.astro';
import Services from '@/sections/Services.astro';
import Extra from '@/sections/Extra.astro';
import Comments from '@/sections/Comments.astro';
import Blog from '@/sections/Blog.astro';
import Hero from '@/sections/Hero.astro';
import Clients from '@/sections/Clients.astro';
---

<Layout>
  <main class="">
    <Hero />
    <Services />
    <Extra />
    <Comments />
    <Blog />
    <Clients />
  </main>
</Layout>
