---
import { CLIENTS } from '@/consts/clients';
---

<section class="bg-midnight py-10">
  <h3 class="mb-6 text-center text-xl font-bold text-white">CONFIARON EN NOSOTROS</h3>
  <div class="embla clients-carousel">
    <div class="embla__container">
      {
        CLIENTS.map((client) => (
          <div class="shrink-0 px-4">
            <img src={client.image.src} alt={client.name} height={100} class="h-24 w-auto" />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    user-select: none;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    display: flex;
    justify-content: center;
  }
</style>

<script>
  import type { EmblaOptionsType, EmblaPluginType } from 'embla-carousel';
  import EmblaCarousel from 'embla-carousel';
  import AutoScroll from 'embla-carousel-auto-scroll';

  const $emblaNode = document.querySelector('.clients-carousel') as HTMLDivElement;
  const plugins: EmblaPluginType[] = [AutoScroll()];
  const options: EmblaOptionsType = {
    loop: true,
  };

  const emblaApi = EmblaCarousel($emblaNode, options, plugins);
</script>
