---
import SEO from '@/components/SEO.astro';
import WhatsappButton from '@/components/WhatsappButton.astro';
import Footer from '@/sections/Footer.astro';
import Header from '@/sections/Header.astro';
import '@/styles/globals.css';
import type { SEOProps } from '@/types/seo';

type Props = SEOProps;

const seoProps = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="preconnect" href="https://assets.visualstudio.pe" />
    <meta name="generator" content={Astro.generator} />
    <SEO {...seoProps} /><!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-4D7PYQT6R4"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-4D7PYQT6R4');
    </script>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <WhatsappButton />
  </body>
</html>

<style>
  html,
  body {
    overscroll-behavior: none;
    margin: 0;
    width: 100%;
    min-height: 100%;
  }
</style>
